<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4fc66">  <td>18/12/15 17:07:17</td>   <td>0</td> <td title="&gt;&gt;TestBaseConfiguration.setup()[pri:0, instance:runner.TestRunner@6f7fd0e6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/12/15 17:07:24</td>   <td>6882</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runner.TestRunner@6f7fd0e6]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/12/15 17:07:24</td>   <td>7256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@6f7fd0e6]">feature</td> 
  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>18/12/15 17:07:31</td>   <td>14250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseConfiguration.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:runner.TestRunner@6f7fd0e6]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/12/15 17:07:31</td>   <td>14251</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runner.TestRunner@6f7fd0e6]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>18/12/15 17:07:31</td>   <td>14298</td> <td title="&lt;&lt;TestBaseConfiguration.quitBrowser()[pri:0, instance:runner.TestRunner@6f7fd0e6]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
</table>
